/* #262A40  #565173 #F2F2F0 #D9BDAD #BF9793 blue-pale*/ 
/*  f4f4f9*/
/* 5FAD56  F2C14E  F78154  4D9078  B4436C    -- GYOGP*/ 
body{
  background-color: #f4f4f9;
}
.App{
  display: flex;
  flex-direction: column;
}
.flex-col{
  display:flex;
  flex-direction: column;
}
.flex-row{
  display:flex;
  flex-direction: row;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
/* Navigation bar  -start*/
.nav-cont{
  position: fixed;
  width: 60px;
  top:0;
  height: 100vh;
  z-index: 100;
  background-color:#565173;
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:4px 7px 10px rgba(0, 0, 0, 0.205);
}
.nav-cont:hover{
  width:200px;
}
.nav-cont ul{
  list-style: none;
  margin-top:50px;
  margin-left:10px;
  padding: 0px;
}
.nav-cont li{
  display: block;
  color:#F2F2F0;
  height:50px;
  transition: background-color 0.7s linear;
}
.nav-cont li:hover{
  background-color: #262A40;
}
.nav-cont li span{
  margin-left:10px;
}
.leftbar-icon{
  font-size: 35px;
  text-align: center;
}
.nav-cont a, .nav-home a{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 200px;
  margin-left:5px;
  margin-top:7px;
  text-decoration: none;
  font-size: 16px;
  color: #F2F2F0;
}
.nav-home{
  background-color:#262A40;
  height:50px;
  width:200px;
}
.nav-home .leftbar-icon{
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
  
}
/* Navigation bar  -  end*/

/** products listing page **/
.list-cont{
  margin-top:100px;
  margin-left: 80px;
  flex-wrap: wrap;
}
.item-cont{
  width:30%;
  height:200px;
  margin: 0px 40px 40px 0px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.205);
  background-color: #F2F2F0;
  justify-content: space-around;
  border: 1px solid #D9BDAD;
}
.item-right{
  width:130px;
  margin:15px 15px 15px 15px;
}
.item-right img {
  height: 100%;
  width: 100%;
}
.item-left{
  width:70%;
  justify-content: space-around;
  position: relative;
}
.item-details{
  margin-bottom: 5px;
}
.item-details h3{
  margin:10px 20px 0px 0px;
}
.item-price{
  align-items: center;
}
.item-price-qty{
  margin-top: 10px;
  align-items: baseline;
}
.item-price-qty div{
  margin-left:20px;
}
.item-tag{
  position: absolute;
  top: 0px;
  right: 10px;
  height: 50px;
  width:35px;
  background-color: #F2C14E;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item-tag p{
  padding-top: 10px;
  margin:0px;
}
.item-actions{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.quantity-cont{
  align-items: center;
  border-top:1px solid #D9BDAD;
  margin-right: 20px;
  padding-top: 10px;
}
.quantity-input{
 width:40px;
 height:25px;
 border-top: 0px;
 border-right: 2px solid #BF9793;
 border-bottom: 0px;
 border-left: 2px solid #BF9793;
 text-align: center;
 font-size: 16px;
 padding-top: 5px;
}
.quantity-button{
  font-size: 25px;
  padding: 5px;
}
.quantity-button:hover{
  color:#565173;
  cursor: pointer;
}
.price-icon{
  font-size: 15px;
  margin-right: 2px;;
}
.carticon-cont{
  align-items: center;
}
.cart-icon{
  font-size:30px;
  color:#565173;
  cursor: pointer;
  margin-right: 5px;
}
.carticon-cont label:hover{
  cursor: pointer;
}
.remove-icon{
  color:#BF9793;
  font-size:28px;
  cursor: pointer;
}
.strike-price{
  text-decoration: line-through;
}
.filter-search-cont{
  height:70px;
  justify-content: space-between;
  align-items: center;
}
.loading-error-screen{
  width: 100%;
  height: 100px;
  margin-top:100px;
  color: #262A40;
}

/** cart page **/
.cart-page{
  justify-content: space-between;
}
.cart-listcont{
  width:50%;
  margin-top:20px;
  margin-left: 80px;
}
.empty-cart{
  margin-top:80px;
  width:90%;
  height:300px;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F0;
  border: 1px solid #565173;
  border-radius: 3px;
}

.total-cont{
  width:35%;
  margin-top :20px;
  margin-right: 20px;
  background-color: #F2F2F0;
  border: 1px solid #D9BDAD;
  border-radius: 3px;
  height:100%;
  overflow: hidden;
}
.header-total-cont {
  margin:20px 0px 10px 0px;
  text-align: center;
  font-size:16px;
  font-weight: bold;
}
.table-total{
  width:90%;
  margin-top:20px;
  margin-left:20px;
}
.table-total th{
  width:30%;
  text-align: left;
  padding:10px 0px 10px 0px;
  border-bottom: 1px solid #565173;
  font-size: 16px;
}
.table-total td{
  width:30%;
  text-align: left;
  padding:10px 0px 10px 0px;
  border-bottom: 1px solid #D9BDAD;
  font-size: 14px;
}
.table-total tfoot th {
  border-bottom: 0px solid;
}
.amount-total-cont{
  margin-top:10px;
  margin-right: 30px;
  text-align: right;
}

/** filter drop down**/
.filter-cont{
  margin-left:100px;
}
.dropdownCont{
  width: 200px;
  position: relative;
}
.dropdownHeader{
  background-color: #565173;
  border:1px solid #262A40;
  color:#f4f4f9;
  height: 40px;
  align-items: center;
}
.dropdownHeader label{
  margin-left: 10px;
}
.dd-select-cont{
  width: 200px;
  justify-content: space-between;
}
.dd-arrow-icon {
  margin-right: 10px;
  padding-top: 5px;
  font-size: 14px;
}
.dd-clear-icon{
  font-size: 20px;
  color: #F2F2F0;
  margin-right: 10px;
  padding-left:5px;
  border-left: 1px solid #F2F2F0;
}
.dropdownListCont{
  background-color: #565173;
  display: none;
  position: absolute;
  z-index: 20;
  width:99%;
  max-height: 500px;
  overflow: auto;
  box-shadow: 0px 2px 5px 0px #565173;
}
.dropdownCont:hover .dropdownListCont{
  display: block;
}
.dropdownRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:#f4f4f9;
  cursor: pointer;
}
.dropdownRow:hover{
  background-color:#BF9793
}
.dd-checkbox{
  margin:5px 10px 5px 10px;
  font-size: 16px;
}
.dropdownRow p{
  flex-grow: 2;
  margin-top:5px;
  margin-bottom: 5px;
}

/** search bar component **/
.filter-search-cont{
  background-color: #262A40;
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 5;
}
.search-cont{
  margin-right: 20px;
}
.search-bar{
  background-color: #565173;
  width: 350px;
  height:40px;
  align-items: center;
  border-radius: 20px;
}
.search-bar input{
  background-color: #565173;
  color: #f4f4f9;
  border:0px solid;
  height:35px;
  width: 290px;
  font-size: 14px;
}
.search-bar input:focus{
  outline: none;
}
.search-icon{
 font-size: 20px;
 color: #D9BDAD;
 margin-left:15px;
 margin-right: 10px;
}
.search-close-cont{
  cursor: pointer;
}

/** loading screen component **/
.loading-icon{
  font-size: 30px;
  color: #262A40;
}
.error-icon{
  color:rgb(196, 25, 25);
  font-size: 30px;
}