/* #262A40  #565173 #F2F2F0 #D9BDAD #BF9793 blue-pale*/ 
/*  f4f4f9*/
/* 5FAD56  F2C14E  F78154  4D9078  B4436C    -- GYOGP*/ 
body{
  background-color: #f4f4f9;
}
.App{
  display: flex;
  flex-direction: column;
}
.flex-col{
  display:flex;
  flex-direction: column;
}
.flex-row{
  display:flex;
  flex-direction: row;
}
/* Navigation bar  -start*/
.nav-cont{
  position: fixed;
  width: 60px;
  top:0;
  height: 100vh;
  z-index: 100;
  background-color:#565173;
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:4px 7px 10px rgba(0, 0, 0, 0.205);
}
.nav-cont:hover{
  width:200px;
}
.nav-cont ul{
  list-style: none;
  margin-top:50px;
  margin-left:10px;
  padding: 0px;
}
.nav-cont li{
  display: block;
  margin: 5px 5px 20px 5px;
  color:#F2F2F0
}
.nav-cont li:hover{
  background-color: #262A40;
  margin-left:0px
}
.leftbar-icon{
  font-size: 35px;
  text-align: center;
}
.nav-cont a, .nav-home a{
  position: absolute;
  width: 120px;
  margin-left: 20px;
  margin-top:7px;
  text-decoration: none;
  font-size: 16px;
  color: #F2F2F0;
}
.nav-home{
  background-color:#262A40;
}
.nav-home .leftbar-icon{
  font-size: 40px;
  margin-left: 15px;
}
/* Navigation bar  -  end*/
.list-cont{
  margin-top:30px;
  margin-left: 80px;
  flex-wrap: wrap;
}
.item-cont{
  width:30%;
  height:200px;
  margin: 0px 40px 40px 0px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.205);
  background-color: #F2F2F0;
  justify-content: space-around;
  border: 1px solid #D9BDAD;
}
.item-right{
  width:130px;
  margin:15px 15px 15px 15px;
}
.item-right img {
  height: 100%;
  width: 100%;
}
.item-left{
  width:70%;
  justify-content: space-around;
  position: relative;
}
.item-details{
  margin-bottom: 5px;
}
.item-details h3{
  margin:10px 20px 0px 0px;
}
.item-price{
  align-items: center;
}
.item-price-qty{
  margin-top: 10px;
  align-items: baseline;
}
.item-price-qty div{
  margin-left:20px;
}
.item-tag{
  position: absolute;
  top: 0px;
  right: 10px;
  height: 50px;
  width:35px;
  background-color: #F2C14E;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item-tag p{
  padding-top: 10px;
  margin:0px;
}
.item-actions{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.quantity-cont{
  align-items: center;
  border-top:1px solid #D9BDAD;
  margin-right: 20px;
  padding-top: 10px;
}
.quantity-input{
 width:40px;
 height:25px;
 border-top: 0px;
 border-right: 2px solid #BF9793;
 border-bottom: 0px;
 border-left: 2px solid #BF9793;
 text-align: center;
 font-size: 16px;
 padding-top: 5px;
}
.quantity-button{
  font-size: 25px;
  padding: 5px;
}
.quantity-button:hover{
  color:#565173;
  cursor: pointer;
}
.price-icon{
  font-size: 15px;
  margin-right: 2px;;
}
.carticon-cont{
  align-items: center;
}
.cart-icon{
  font-size:30px;
  color:#565173;
  cursor: pointer;
  margin-right: 5px;
}
.carticon-cont label:hover{
  cursor: pointer;
}
.remove-icon{
  color:#BF9793;
  font-size:28px;
  cursor: pointer;
}
.strike-price{
  text-decoration: line-through;
}
.cart-listcont{
  margin-top:20px;
  margin-left: 80px;
}
.empty-cart{
  margin-top:80px;
  width:60%;
  height:300px;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F0;
  border: 1px solid #565173;
  border-radius: 3px;
}
